name: Build and Deploy Docusaurus

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Setup Node
      uses: actions/setup-node@v3
      with:
        node-version: '20.x'

    - name: Install deps
      run: npm install
      working-directory: ./physical-ai-textbook

    - name: Build site
      run: npm run build
      working-directory: ./physical-ai-textbook

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./physical-AI-textbook/build
